In [4]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(dbname='dcav0e27is34ob',
                        user='cvxaolswbkucpe',password='0fdccfd33bb9e0f8c5e8cee5a27112b425e72e98c48b1aa906ca6b0a052a3dc1',host='ec2-3-248-121-12.eu-west-1.compute.amazonaws.com', port=5432)

cursor = conn.cursor()
df =pd.read_sql('SELECT * FROM Movies', conn)
df.describe()

conn.close()

/home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
df

   id        title  rating
0   1    Spiderman       3
1   2  Spiderman 2       5